.mobile-only{
    display: none;
}
.desktop-only{
    margin: 10px;
    background-color: blue;
    display: block;
}
@media (max-width:600px) {
    .desktop-only{
        display: none;
    }
    .mobile-only{
        display: block;
        margin: 10px;
        background-color: red;
    }
}